<div class="container" id="messages" style="margin-bottom: 1rem;">
    {{#each messages}}
        {{>message message=.}}
    {{/each}}
</div>
<turbo-frame id="new-message">
    <form method="post" action="/new-message">
        <div class="field">
            <div class="control">
                <textarea class="textarea" placeholder="Write a fancy message" name="content"></textarea>
            </div>
        </div>
        {{#if error}}
            <article class="message is-danger">
                <div class="message-body">
                    {{error}}
                </div>
            </article>
        {{/if}}
        <div class="control">
            <button class="button is-primary">Send</button>
        </div>
    </form>
</turbo-frame>
